@import '_variables.scss';

.rce-property-panel {
  box-sizing: border-box;
  position: absolute;
  background-color: $toolbar-background-color;
  border: 1px solid lighten($toolbar-background-color, 10%); 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: $spacing;
  outline: 0;
}