@import '_variables.scss';

.rce-property-panel {
  box-sizing: border-box;
  position: absolute;
  background-color: $toolbar-background-color;
  border: 1px solid lighten($toolbar-background-color, 10%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: $button-spacing;
  outline: 0;
  display: flex;
  border-radius: 5px;


  .item {
    color: $toolbar-color;
    flex: none;
    margin: $button-spacing;
    padding: $button-padding;
    border: solid 1px $toolbar-border-color;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: lighten($toolbar-color, 10%);
      border-color: darken($toolbar-border-color, 10%);
      background-color: lighten($toolbar-background-color, 10%);
    }
  }

  input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #40abfe;
    cursor: pointer;
    border-radius: 2px; /* iOS */
    transition: background 450ms ease-in;
  }

  input[type='range']:focus {
    outline: none;
  }

  input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 5px solid dodgerblue;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      border: 5px solid lighten(dodgerblue, 10%);
    }
  }
  .picker {
    position: relative;
  }

  .swatch {
    width: 18px;
    height: 22px;
    margin: $button-spacing;
    border-radius: 4px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .popover {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .input-range {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    padding: 8px;
    width: 200px;
    height: 24px;
    background-color: lighten($toolbar-background-color, 10%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .select {
    position: absolute;
    background-color: lighten($toolbar-background-color, 10%);
    top: calc(100% + 8px);
    text-align: left;
    min-width: 200px;
    left: 0;
    font-size: 18px;
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        padding: 5px 14px 5px 14px;
        &:hover {
          background-color: lighten($toolbar-background-color, 30%)
        }
      }
    }
  }
}
