@import '_variables.scss';

.rce-toolbar {
  display: flex;
  width: 100%;
  background-color: $toolbar-background-color;

  .item {
    flex: none;
    color: $toolbar-color;
    margin: $button-spacing;
    padding:$button-padding;
    border: solid 1px $toolbar-border-color;
    border-radius: 4px;
    cursor: pointer;

    &:hover, &:focus {
      color: lighten($toolbar-color, 10%);
      border-color: darken($toolbar-border-color, 10%);
      background-color: lighten($toolbar-background-color, 10%)
    }
  }

  .item-left {
    margin-left: auto;
  }
}